In [2]:
# To automatically reload
%reload_ext autoreload
%autoreload 2

In [3]:
# import required libraries
import pandas as pd
import cv2
import matplotlib.pyplot as plt
import matplotlib.image as img
import os
import numpy as np

In [5]:
!ls dataset/

lip_train_set.csv  README.md  val_set
lip_val_set.csv    train_set  vis_annotation.py

In [3]:
# csv file line format:
# ImageID_PersonId.jpg,x1,y1,v1,x2,y2,v2,...x16,y16,v16
# Note: x,y, is the annotation label in (column, row),
#       v stands for visuable
        
# Joint order:
#     1,R_Ankle
#     2,R_Knee
#     3,R_Hip
#     4,L_Hip
#     5,L_Knee
#     6,L_Ankle
#     7,B_Pelvis
#     8,B_Spine
#     9,B_Neck
#     10,B_Head
#     11,R_Wrist
#     12,R_Elbow
#     13,R_Shoulder
#     14,L_Shoulder
#     15,L_Elbow
#     16,L_Wrist
col_names = ['ImageID_PersonId', 'R_Ankle_x', 'R_Ankle_y', 'R_Ankle_v',
            'R_Knee_x', 'R_Knee_y', 'R_Knee_v',
            'R_Hip_x', 'R_Hip_y', 'R_Hip_v',
            'L_Hip_x', 'L_Hip_y', 'L_Hip_v',
            'L_Knee_x', 'L_Knee_y', 'L_Knee_v',
            'L_Ankle_x', 'L_Ankle_y', 'L_Ankle_v',
            'B_Pelvis_x', 'B_Pelvis_y', 'B_Pelvis_v',
            'B_Spine_x', 'B_Spine_y', 'B_Spine_v',
            'B_Neck_x', 'B_Neck_y', 'B_Neck_v',
            'B_Head_x', 'B_Head_y', 'B_Head_v',
            'R_Wrist_x', 'R_Wrist_y', 'R_Wrist_v',
            'R_Elbow_x', 'R_Elbow_y', 'R_Elbow_v',
            'R_Shoulder_x', 'R_Shoulder_y', 'R_Shoulder_v',
            'L_Shoulder_x', 'L_Shoulder_y', 'L_Shoulder_v',
            'L_Elbow_x', 'L_Elbow_y', 'L_Elbow_v',
            'L_Wrist_x', 'L_Wrist_y', 'L_Wrist_v']

In [4]:
# read csv containing image name and corresponding keypoints
train_df = pd.read_csv('dataset/lip_train_set.csv', names=col_names)
train_df.head()

,ImageID_PersonId,R_Ankle_x,R_Ankle_y,R_Ankle_v,R_Knee_x,R_Knee_y,R_Knee_v,R_Hip_x,R_Hip_y,R_Hip_v,...,R_Shoulder_v,L_Shoulder_x,L_Shoulder_y,L_Shoulder_v,L_Elbow_x,L_Elbow_y,L_Elbow_v,L_Wrist_x,L_Wrist_y,L_Wrist_v
0,1000_1234574.jpg,32.0,196.0,0.0,33.0,163.0,0.0,31.0,115.0,0.0,...,0.0,70.0,47.0,0.0,82.0,68.0,0.0,71.0,87.0,0.0
1,100111_470108.jpg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,122.0,140.0,1.0,179.0,174.0,0.0,244.0,143.0,0.0
2,10012_1730659.jpg,82.0,272.0,0.0,71.0,206.0,0.0,67.0,126.0,0.0,...,0.0,16.0,60.0,0.0,12.0,111.0,0.0,4.0,154.0,0.0
3,10014_189863.jpg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,17.0,115.0,0.0,10.0,200.0,0.0,NaN,NaN,NaN
4,100159_1748699.jpg,14.0,270.0,0.0,18.0,205.0,0.0,14.0,133.0,0.0,...,0.0,80.0,61.0,0.0,87.0,113.0,0.0,77.0,154.0,0.0

## Data clean up

In [5]:
def replaceNAN(df, idx, val):
    """ replace the NaN entries by val"""
    if np.isnan(df.iloc[idx]):
        df.iloc[idx - 1] = val
        df.iloc[idx - 2] = val
        
    return df

In [6]:
# change all nan keypoint values to -1 
for i in range(3, train_df.shape[1], 3):
    train_df = train_df.apply(replaceNAN, axis=1, idx=i, val=-1)

In [7]:
train_df.head()

,ImageID_PersonId,R_Ankle_x,R_Ankle_y,R_Ankle_v,R_Knee_x,R_Knee_y,R_Knee_v,R_Hip_x,R_Hip_y,R_Hip_v,...,R_Shoulder_v,L_Shoulder_x,L_Shoulder_y,L_Shoulder_v,L_Elbow_x,L_Elbow_y,L_Elbow_v,L_Wrist_x,L_Wrist_y,L_Wrist_v
0,1000_1234574.jpg,32.0,196.0,0.0,33.0,163.0,0.0,31.0,115.0,0.0,...,0.0,70.0,47.0,0.0,82.0,68.0,0.0,71.0,87.0,0.0
1,100111_470108.jpg,-1.0,-1.0,NaN,-1.0,-1.0,NaN,-1.0,-1.0,NaN,...,0.0,122.0,140.0,1.0,179.0,174.0,0.0,244.0,143.0,0.0
2,10012_1730659.jpg,82.0,272.0,0.0,71.0,206.0,0.0,67.0,126.0,0.0,...,0.0,16.0,60.0,0.0,12.0,111.0,0.0,4.0,154.0,0.0
3,10014_189863.jpg,-1.0,-1.0,NaN,-1.0,-1.0,NaN,-1.0,-1.0,NaN,...,0.0,17.0,115.0,0.0,10.0,200.0,0.0,-1.0,-1.0,NaN
4,100159_1748699.jpg,14.0,270.0,0.0,18.0,205.0,0.0,14.0,133.0,0.0,...,0.0,80.0,61.0,0.0,87.0,113.0,0.0,77.0,154.0,0.0

In [9]:
# remove all columns otherthan keypoints (names ending with 'v')
train_df.drop(train_df.columns[range(3, train_df.shape[1], 3)], axis=1, inplace=True)
train_df.head()

,ImageID_PersonId,R_Ankle_x,R_Ankle_y,R_Knee_x,R_Knee_y,R_Hip_x,R_Hip_y,L_Hip_x,L_Hip_y,L_Knee_x,...,R_Elbow_x,R_Elbow_y,R_Shoulder_x,R_Shoulder_y,L_Shoulder_x,L_Shoulder_y,L_Elbow_x,L_Elbow_y,L_Wrist_x,L_Wrist_y
0,1000_1234574.jpg,32.0,196.0,33.0,163.0,31.0,115.0,62.0,113.0,60.0,...,8.0,67.0,24.0,45.0,70.0,47.0,82.0,68.0,71.0,87.0
1,100111_470108.jpg,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,277.0,215.0,132.0,179.0,122.0,140.0,179.0,174.0,244.0,143.0
2,10012_1730659.jpg,82.0,272.0,71.0,206.0,67.0,126.0,27.0,126.0,35.0,...,90.0,97.0,78.0,53.0,16.0,60.0,12.0,111.0,4.0,154.0
3,10014_189863.jpg,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,160.0,85.0,17.0,115.0,10.0,200.0,-1.0,-1.0
4,100159_1748699.jpg,14.0,270.0,18.0,205.0,14.0,133.0,64.0,128.0,61.0,...,6.0,103.0,18.0,59.0,80.0,61.0,87.0,113.0,77.0,154.0

In [10]:
# saving the dataframe in feather format (because it is fast)
train_df.to_feather('train_data.ftr')

## Visualization

In [4]:
train_df = pd.read_feather('train_data.ftr')
train_df.head()

,ImageID_PersonId,R_Ankle_x,R_Ankle_y,R_Knee_x,R_Knee_y,R_Hip_x,R_Hip_y,L_Hip_x,L_Hip_y,L_Knee_x,...,R_Elbow_x,R_Elbow_y,R_Shoulder_x,R_Shoulder_y,L_Shoulder_x,L_Shoulder_y,L_Elbow_x,L_Elbow_y,L_Wrist_x,L_Wrist_y
0,1000_1234574.jpg,32.0,196.0,33.0,163.0,31.0,115.0,62.0,113.0,60.0,...,8.0,67.0,24.0,45.0,70.0,47.0,82.0,68.0,71.0,87.0
1,100111_470108.jpg,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,277.0,215.0,132.0,179.0,122.0,140.0,179.0,174.0,244.0,143.0
2,10012_1730659.jpg,82.0,272.0,71.0,206.0,67.0,126.0,27.0,126.0,35.0,...,90.0,97.0,78.0,53.0,16.0,60.0,12.0,111.0,4.0,154.0
3,10014_189863.jpg,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,160.0,85.0,17.0,115.0,10.0,200.0,-1.0,-1.0
4,100159_1748699.jpg,14.0,270.0,18.0,205.0,14.0,133.0,64.0,128.0,61.0,...,6.0,103.0,18.0,59.0,80.0,61.0,87.0,113.0,77.0,154.0

In [5]:
train_df.iloc[1].values

array(['100111_470108.jpg', -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0,
       -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, 135.0, 244.0, 154.0,
       149.0, 203.0, 50.0, 203.0, 175.0, 277.0, 215.0, 132.0, 179.0,
       122.0, 140.0, 179.0, 174.0, 244.0, 143.0], dtype=object)

In [6]:
def plot_joint(rec, img_folder):
    ''' Drawing joints and bones on images '''
    img_name = os.path.join(img_folder, rec[0])
    print('Image at: ' + img_name)

    img = cv2.imread(img_name)
    bombs = [[0,1],[1,2]
            ,[3,4],[4,5]
            ,[6,7],[7,8],[8,9]
            ,[10,11],[11,12]
            ,[13,14],[14,15] ]
    colors = [(255,0,0),(255,0,0),
              (0,255,0),(0,255,0),
              (0,0,255),(0,0,255),(0,0,255),
              (128,128,0),(128,128,0),
              (128,0,128),(128,0,128)]

    for b_id in range(len(bombs)):
        b = bombs[b_id]
        color = colors[b_id]
        x1 = rec[ b[0] * 2 + 1]
        y1 = rec[ b[0] * 2 + 2]

        x2 = rec[ b[1] * 2 + 1]
        y2 = rec[ b[1] * 2 + 2]

        if x1 > 0 and x2 > 0 and y1 > 0 and y2 > 0:
            img = cv2.line(img, (int(x1),int(y1)), (int(x2),int(y2)), color, 4) 
        elif x1 > 0 and y1 > 0:
            img = cv2.circle(img, (int(x1), int(y1)), 5, color, 4) 
        elif x2 > 0 and y2 > 0:
            img = cv2.circle(img, (int(x2), int(y2)), 5, color, 4)
    
    cv2.imshow('Keypoints', img)
    cv2.waitKey(0)
        
    cv2.destroyAllWindows()

In [7]:
plot_joint(train_df.iloc[100].values , 'dataset/train_set/')

Image at: dataset/train_set/102235_477876.jpg

## Creating Pytorch Dataset

In [5]:
from utils.LIPDataset import LIPDataset

In [6]:
PIL_dataset = LIPDataset('train_data.ftr', 'dataset/train_set/')

In [7]:
sample = PIL_dataset[299]

In [8]:
from utils.LIPDataset import plot_data

In [9]:
plot_data(sample)

## Apply transformations

In [11]:
from utils.LIPDataset import Resize

In [16]:
sample['image'].shape, sample['keypoints']

((152, 248, 3),
 array([-1.0, -1.0, 94.0, 108.0, 238.0, 52.0, 167.0, 103.0, 62.0, 122.0,
        -1.0, -1.0, 197.0, 81.0, 191.0, 6.0, -1.0, -1.0, -1.0, -1.0, 100.0,
        57.0, 137.0, 29.0, -1.0, -1.0, -1.0, -1.0, 88.0, 41.0, 23.0, 73.0],
       dtype=object))

In [24]:
plot_data(sample)

In [25]:
# initialize a resize transform
resize = Resize((256, 256))

In [39]:
# line by line profiling
%load_ext line_profiler
# lprun -f

The line_profiler extension is already loaded. To reload it, use:
  %reload_ext line_profiler

In [40]:
# performing tfm and examining the results
tfm_sample = resize(sample)

In [41]:
tfm_sample['image'].shape

(256, 256, 3)

In [42]:
tfm_sample['keypoints']

[-1.032258064516129,
 -1.6842105263157894,
 97.03225806451613,
 181.89473684210526,
 245.6774193548387,
 87.57894736842104,
 172.38709677419354,
 173.4736842105263,
 64.0,
 205.4736842105263,
 -1.032258064516129,
 -1.6842105263157894,
 203.3548387096774,
 136.42105263157893,
 197.16129032258064,
 10.105263157894736,
 -1.032258064516129,
 -1.6842105263157894,
 -1.032258064516129,
 -1.6842105263157894,
 103.2258064516129,
 96.0,
 141.41935483870967,
 48.84210526315789,
 -1.032258064516129,
 -1.6842105263157894,
 -1.032258064516129,
 -1.6842105263157894,
 90.83870967741936,
 69.05263157894737,
 23.741935483870968,
 122.94736842105263]

In [43]:
plot_data(tfm_sample)